*{
    /* margin: auto; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
    
}

table{
    font-size: 3rem;
    margin:auto;
    border-collapse: separate;
    border-spacing: 3rem 10px;
    
}

.gomb{
    border: 2px solid grey;
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
    width: 50%;
    font-weight: bold;
}

.gomb:hover{
    background-color: lightgrey;

}

h1{
    font-weight: bold;
    font-size: 5rem;
    text-decoration: underline;
}

p{
    text-align: right;
    color:grey;
    font-style: italic;
}

div{
    background-color: grey;
    border: 2px solid grey;
}