body{
    background-color: red;
}
#vissza{
    width:75px;
    border: 2px solid grey;
    border-radius: 16px;
    background-color: white;
}
#vissza:hover{
    background-color: lightgray;
}

body{
    background-color: lightgreen;
}

